@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,100italic);
@import url(http://fonts.googleapis.com/earlyaccess/notosanshebrew.css);

html, body {
  height: 100%;
  width: 100%;
  background-color: #DEDEDE;
  padding: 0;
  margin: 0;
}

header {
  padding: 1vh;
}

div.main {
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

div.main:after {
  content: "";
  display: block;
  height: 3vh;
}

header.center {
  width: 70%;
  margin: 0 auto;
}

section.center {
  padding-top: 4.5rem;
  width: 70%;
  margin: 0 auto;
}

.window {
  background-color: #FFFFFF;
  margin-top: 0em;
  padding-top: 1em;
}

div.footer {
  margin: 0px;
  width: 100%;
  height: 3vh;
  background-color: #DEDEDE;
}

h1.name {
  font-size: 2.0rem;
  padding: -5
}
h1.name-en {
  font-style: italic;
}

.font-en {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

.font-ja {
  font-family:'Noto Sans Hebrew', serif;
  font-weight: 400;
}

nav.title{
  box-shadow: 0px 0px 10px #DEDEDE;
  background-color: #DEDEDE;
  width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.4vh;
}

nav#chaser{
  position: fixed;
  display:none;
  top: 0;
  left: 0;
  z-index: 9999;
}

h2.section{
  font-size: 2rem;
  font-weight: 300;
}

h3.title{
  font-size: 1.4rem;
}

p.main {
  font-size: 1.1rem;
}

p.three-columns {
  columns: 3;
}

p.two-columns {
  columns: 2;
}

p.copyright {
  padding: 20px;
  text-align: center;
  font-size: 1.0rem;
}

.button {
  display: block;
  height: 100px;
  width: 200px;
  background: #DEDEDE;
  border: 2px solid #D0D0D0;
  color: #F7F7F7;
  text-align: center;
  font-size: 15pt;
  /*
  background: -webkit-linear-gradient(top, #B1B1B1, #C8C8C8);
  background: -moz-linear-gradient(top, #B1B1B1, #C8C8C8);
  background: -o-linear-gradient(top, #B1B1B1, #C8C8C8);
  background: -ms-linear-gradient(top, #B1B1B1, #C8C8C8);
  background: linear-gradient(top, #B1B1B1, #C8C8C8);
  */

  border-radius: 1px;
}

.button:hover {
  background: #C8C8C8;
}

a.button {
  text-decoration: none;
}

div.navbar {
  width: 100%;
  margin-top: 0.2em;
}
ul.list {
  list-style-type: none;
  margin: 1em 0em;
  padding: 0;
  text-align: center;
}

li.menu {
  display: inline;
  padding: 0em 2em;
}


div.col-box {
  display: flex;
  flex-direction: column;
}

a.item {
  font-size: 1.3em;
  text-decoration: none;
  position: relative;
  color: #717171;
  font-weight: 300;
}

a.item:hover{
  color: black;
}

a.item:active {
  top: 0.1em;
}

a.product {
  text-decoration: none;
  color: #000000;
}

.indent-1 {
  padding-left: 1vw;
}

.indent-2 {
  padding-left: 2vw;
}

.indent-3 {
  padding-left: 3vw;
}

.indent-4 {
  padding-left: 4vw;
}

p.gotop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

