<!DOCTYPE html>
<html lang="en" ng-app="tomohitoyApp">
  <head>
    <meta charset="UTF-8">
    <title>Tomohito Yamazaki's Web Page</title>
    <link rel="stylesheet" href="./css/app.css" media="screen">
  </head>
  <body>
    <div class="main">
      <header class="center" id="home">
        <div ng-controller="BasicController">
          <h1 class="name name-en font-en">{{ basic.name.en }}</h1>
          <h3 class="title font-en">{{ basic.title.en }}</h3>
        </div>
      </header>
      <nav>
        <div class="navbar">
          <ul class="list">
              <li class="menu"><a href="#home" class="item font-en">HOME</a></li>
              <li class="menu"><a href="#intro" class="item font-en">INTROUCTION</a></li>
              <li class="menu"><a href="#pubs" class="item font-en">PUBLICATION & PRESENTATION</a></li>
          </ul>
        </div>
      </nav>
      <section class="center" id="intro">
        <h2 class="font-en">INTRODUCTION</h2>
        <div ng-controller="IntroductionController">
          <h3 class="font-en">MY BUSINESS</h3>
          <div class="col-box">
            <div ng-repeat="business in businesses">
              <h3 class="font-en">{{ business.name }}</h3>
              <p class="font-ja">{{ business.description }}</p>
            </div>
          </div>
          <h3 class="font-en">MY HOBBIES</h3>
          <div class="col-box">
            <div ng-repeat="hobby in hobbies">
              <h3 class="font-en">{{ hobby.name }}</h3>
              <p class="font-ja">{{ hobby.description }}</p>
            </div>
          </div>
        </div>
      </section>
      <section class="center" id="pubs">
        <h2 class="font-en">PUBLICATION & PRESENTATION</h2>
        <div ng-controller="PublicationsController">
          <div ng-repeat="publication in publications">
            <h3 class="font-en">{{ publication.study_area }}</h3>
            <div class="pub" ng-repeat="pub in publication.international">
              <p class="font-en">
                {{ pub.author }} ({{ pub.year }}), {{ pub.title }}, {{ pub.style }} Presented at {{ pub.conference }}, {{ pub.place }}, {{ pub.month }}., {{ pub.year }}
              </p>
            </div>
            <div class="pub" ng-repeat="pub in publication.domestic">
              <p class="font-ja">
                {{ pub.author }} ({{ pub.year }}), {{ pub.title }}, {{ pub.conference }}({{ pub.style }}), {{ pub.year }}年{{ pub.month }}, {{ pub.place }}
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="footer">
      <footer>
        <p class="copyright font-en">&copy; 2015 Tomohito Yamazaki</p>
      </footer>
    </div>
    <script src="./js/d3.js"></script>
    <script src="./js/jquery-2.1.3.js"></script>
    <script src="./js/underscore.js"></script>
    <script src="./js/angular.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
